.centered {
        display: flex;
        grid-column-gap: 50px;
        justify-content: center;

}

.grid-container {
    display: grid;
    grid-column-gap: 50px;
}

.instagram-feed{
    width:100%;
    border:0;
    overflow:hidden;
}