.shop-container {
    padding-bottom:  2  rem;
    padding-top:  2 rem;
    vertical-align: left;
    float: left;
	width: 100%;
    padding: 100 px;
    background-color: #ffffff ;
    
}


  
  img {
    max-width: 100%; }
  
  .tab-content {
    overflow: hidden; }
    .tab-content img {
      width: 100%;
     }
  
     .card {
        margin-top: 0px;
        background: #eee;
         }
      
  .product-title, .product-description, .price, .sizes {
    margin-bottom: 10px; }
  
  .product-title {
    margin-top: 0; }
  
  .size {
    margin-right: 10px; }
    .size:first-of-type {
      margin-left: 40px; }
  
  .size-button {
    display: inline-block;
    vertical-align: left;
    margin-right: 10px;
    height: 2rem;
    width: 2rem;
    border-radius: 2px; }
    .size-button:first-of-type {
        margin-left: 40px; }
  
    
  
  
    .add-to-cart:hover, .like:hover {
      background: #b36800;
      color: #fff; }
  
  .green-button{
    display: inline-block;
    vertical-align: left;
    margin-right: 10px;
    height: 2rem;
    width: 2rem;
    border-radius: 2px;
    background: #85ad00;
    color: #85ad10; }
   
  
  .blue-button{
    display: inline-block;
    vertical-align: left;
    margin-right: 10px;
    height: 2rem;
    width: 2rem;
    border-radius: 2px;
    background: #0076ad;
    color: #0076a0;
    margin-left: 40px; } 
    
       
    radio-toolbar {
      margin: 10px;
    }
    
    .radio-toolbar input[type="radio"] {
      opacity: 0;
      position: fixed;
      width: 0;
    }
    
    .radio-toolbar label {
        display: inline-block;
        padding: 10px 20px;
        font-family: sans-serif, Arial;
        font-size: 10px;
        border: 2px solid #444;
        vertical-align: left;
    margin-right: 10px;
    height: 2rem;
    width: 2rem;
    border-radius: 2px;
    background: #0076ad;
    color: #0076a0;
    margin-left: 40px;
    }
 
    
    .radio-toolbar input[type="radio"]:checked + label {
        background-color: #bfb;
        border-color: #ffffff;
    }

  
 
  
  