.video-container > video {
    width: 100%;
    height: 100%;
    object-fit: scale-down;
    overflow: hidden;
}

.video-text {
    background: rgba(0,0,0,0);
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0; right: 0; bottom: 0; left: 0;
}

.video-text > Col {
    text-align: center;
    justify-content: center;
}